@if (question) {
  <mat-radio-group
    class="radio-group-wrapper"
    (change)="radioButtonSelected($event)">

    @for (option of question.configuration.options!; track option.value) {
      <mat-radio-button
        class="radio-button-wrapper"
        [id]="option.value"
        [value]="option.value"
        color="primary">

        {{ option.label }}
        @if (option.optionExplanation) {
          <mat-icon
            color="primary"
            [matTooltip]="getTooltip(option.optionExplanation)"
            style="margin-left: 8px; vertical-align: middle;">
            info
          </mat-icon>
        }
      </mat-radio-button>
    }
  </mat-radio-group>
}
