<div *ngIf="question">
  <mat-checkbox
    *ngFor="let option of question.configuration.options!"
    class="checkbox-wrapper"
    color="primary"
    [value]="option.value"
    [name]="question.id"
    (change)="checkboxSelected($event)"
    [id]="option.value">
    {{ option.label }}
    <mat-icon
      *ngIf="option.optionExplanation"
      color="primary"
      [matTooltip]="getTooltip(option.optionExplanation)"
      style="margin-left: 8px; vertical-align: middle;">
      info
    </mat-icon>
  </mat-checkbox>
</div>
