// SCSS Variables
@use '../../../../../src/assets/css/booster-colors' as booster-colors;

$primary-text-color: #333;
$container-background: #f7f9fc;

// Styles
.results-container {
  padding: 20px;
  background-color: $container-background;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  color: $primary-text-color;
  margin-bottom: 20px;
}
