@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

// Text color variables for contrast
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

// Custom primary color palette for Booster
$booster-primary-palette: (
  50: #E6EBF8,
  100: #C1CAED,
  200: #98A5E2,
  300: #6E80D7,
  400: #505CD0,
  500: #0E2CE2, // Main color
  600: #0B27D0,
  700: #0823BF,
  800: #0518AE,
  900: #020B96,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

// Define the palettes using the M2 functions
$booster-primary: mat.m2-define-palette($booster-primary-palette, 500);
$booster-accent: mat.m2-define-palette(mat.$m2-blue-palette, 500);
$booster-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

// Define the theme using the M2 function
$booster-theme: mat.m2-define-light-theme((
  color: (
    primary: $booster-primary,
    accent: $booster-accent,
    warn: $booster-warn,
  ),
  typography: mat.m2-define-typography-config(
    $button: mat.m2-define-typography-level(0.85rem, 1rem, 800, $letter-spacing: normal)
  ),
  density: 0,
));
