<div class="results-container">
  <h2>{{ 'results.yourAnswers' | translate }}</h2>
  <div class="results-list">
    <div *ngFor="let result of results; let i = index" class="result-card">
      <span class="result-question">
    {{ expanded[i] ? result.question : (result.question | slice:0:90) }}
        {{ result.question.length > 90 && !expanded[i] ? '...' : '' }}
  </span>

      <span class="result-answer">
    {{ expanded[i] ? result.answer : (result.answer | slice:0:90) }}
        {{ result.answer.length > 90 && !expanded[i] ? '...' : '' }}
  </span>

      <a
        *ngIf="result.question.length > 90 || result.answer.length > 90"
        class="show-more-link"
        (click)="toggleExpand(i)"
      >
        {{ expanded[i] ? 'Show less' : 'Show more' }}
      </a>
    </div>
  </div>
</div>
