@use '../../../../../src/assets/css/booster-colors' as booster-colors;
@use '../../../../../src/assets/css/variables.scss' as booster-variables;

mat-stepper {
  //background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


  ::ng-deep {
    .mat-horizontal-stepper-wrapper {
      height: 100%;
    }

    .mat-step-header {
      @include booster-variables.respond-to-max-height {
        height: 50px;
      }
    }

    //.mat-step-label {
    //  display: none;
    //}

    //the below 2 are problematic (these changed in the new material, they don't match the booster 100%)
    .mat-horizontal-stepper-content-current {
      height: 100%;
    }

    //.mat-horizontal-stepper-content-next {
    //  height: 0px;
    //}

    //
    .mat-horizontal-content-container {
      //padding: 0px 24px;
      height: 100%;
    }

    .mat-step-icon-content {
      font-size: 16px;
    }
  }
}

.mat-step-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  overflow-y: auto;
  @include booster-variables.respond-to-max-height {
    max-height: 530px;
  }
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid booster-colors.$lc-blue;
  border-radius: 20px;
  flex: 1;
  //@include respond-to-max-height {
  //  flex: 0 0 auto;
  //}
  //overflow-y: auto;
  justify-content: center;

  .internal-wrapper {
    margin: 10px 0px;
    //overflow-y: auto;
    //height: 100%;
    align-content: center;
  }
}

.individual-question-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  //padding: 10px;

  &.single {
    overflow-y: auto;
    @include booster-variables.respond-to-max-height() {
      height: 100%;
    }
  }

}
