/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
//@use 'libs/angular/angular-common/src/lib/styles/golab/golab-theme' as golab-theme;
@use '../src/assets/css/booster-theme' as booster-theme;

@include mat.core();

@include mat.all-component-themes(booster-theme.$booster-theme);

@import '../src/assets/css/variables.scss';

$text-font-size: 20px;
$text-color: rgb(30, 35, 40);
$lc-color: rgb(61, 57, 147);

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $text-font-size;
  line-height: 1.3;
  color: $text-color;
}


html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0px;
}

mat-checkbox {
  .mdc-label {
    position: relative;
    top: 2px;
  }
}

a {
  white-space: nowrap;
}

.mdc-button {
  font-weight: 500;
}

html {
  @include respond-to-max-height {
    font-size: 7px;
  }
}

.mat-mdc-tooltip-panel {

  .mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: $lc-color;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 2px 6px 2px 6px;
  }
}

/* You can add global styles to this file, and also import other style files */




