.wrapper {
  padding: 0px 24px;

  .progress-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .previous-or-home-wrapper {

    }


  }

  .progress-btn {
    border-radius: 20px;
    height: 30px;
    min-width: 150px;
    font-size: 1.6rem;
  }

}
