.questions-module-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .progress-bar-wrapper {
    height: 4px;
  }

  .app-stepper-wrapper {
    flex: 1;
    min-height: 0;
    overflow-y: hidden;

    .stepper {
      display: flex;
      height: 100%;
      min-height: 0;
    }
  }

  .progress-buttons-wrapper {
    height: 30px;
  }
}
