<div class="welcome-wrapper">
  <div class="title-wrapper">
    <div>
      <div class="title-text">{{ "welcome.title" | translate }}</div>
      <div class="subtitle-text"> {{ 'welcome.subtitle' | translate}} </div>
    </div>
  </div>
  <div class="main-part">
    <div class="image-and-text-wrapper">
      <div class="all-texts-wrapper">
        <div class="row">
          <div class="text-wrapper">{{ "welcome.instruments" | translate }}</div>
        </div>
        <div class="row">
          <div class="text-wrapper">{{ "welcome.line1" | translate }}</div>
        </div>
        <div class="row">
          <div class="text-wrapper">{{ "welcome.line2" | translate }}</div>
        </div>
        <div class="row">
          <div class="text-wrapper" [innerHTML]="'welcome.line3' | translate"> </div>
        </div>
        <div class="row">
          <div class="text-wrapper" [innerHTML]="'welcome.line4' | translate"> </div>
        </div>
      </div>
    </div>

    <div class="go-to-quiz-button-wrapper">
      <button (click)="goToQuiz()" class="go-to-quiz-button" color="primary"
              mat-raised-button>{{ "welcome.start" | translate }}
      </button>
    </div>
  </div>

  <div class="bottom-part">
    <app-clic-it-social-media></app-clic-it-social-media>
  </div>
</div>
