<div class="sbs-social-media-wrapper">
  <div class="social-media">
    <a class="social-media-icon" href="https://www.facebook.com/surroundedbyscience/" target="sbs_facebook">
      <img alt="facebook" src="social-media/sbs_facebook.png" />
    </a>
    <a class="social-media-icon" href="https://www.instagram.com/surroundedby.science/" target="sbs_instagram">
      <img alt="instagram" src="social-media/sbs_instagram.png" />
    </a>
    <a class="social-media-icon" href="https://twitter.com/surroundedbysci" target="sbs_twitter">
      <img alt="twitter" src="social-media/sbs_twitter.png" />
    </a>
    <a class="social-media-icon" href="https://www.youtube.com/channel/UCDq_nTiU9T2P47wnTIRmILg" target="sbs_youtube">
      <img alt="youtube" src="social-media/sbs_youtube.png" />
    </a>
    <a class="social-media-icon" href="https://www.linkedin.com/company/clic-it-learning-communities/"
       target="sbs_linkedin">
      <img alt="linkedin" src="social-media/sbs_linkedin.png" />
    </a>
  </div>
  <div class="eu-text-wrapper">
    <img alt="European Union" class="eu-image" src="sbs_EU_flag.png" />
    <span class="eu-text">
      Here we need to add some info about the clic-it-project and the funding, etc.
    </span>
  </div>

</div>
