name: Deploy LC incubator to LISA

permissions:
  contents: read
  packages: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      target_runner:
        description: "Select Runner (test-runner or prod-runner)"
        required: true
        type: choice
        options:
          - test-runner
          - prod-runner
        default: test-runner
  workflow_call:
    inputs:
      target_runner:
        description: "Select Runner"
        required: true
        type: string
env:
  General_Timeout_Minutes: 15

jobs:
  deploy:
    runs-on:
      - self-hosted
      - ${{ github.event.inputs.target_runner }}
    steps:
      - name: Identify Runner
        id: runner-info
        run: echo "RUNNER_NAME=$(hostname)" >> $GITHUB_ENV

      - name: Show Selected Runner
        run: |
          echo "Running on: $RUNNER_NAME"

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Start Docker Services
        run: |
          cd /opt/application/lc-incubator
          docker system prune -af
          docker compose --env-file .env.lc-incubator -f docker-compose.lc-incubator.yml pull
          docker compose --env-file .env.lc-incubator -f docker-compose.lc-incubator.yml up -d
